span{color:blue;font-size: 30px;font-family: 'Courier New', Courier, monospace;}
ul#sidebar{border: 10px 5px;width: 30%;float: left;border-color: black;}
ul#sidebar li:active{border-left: 20px gold;border-right:20px blueviolet;background-color: blue;}
ul#sidebar li:hover{background-color: brown;}
li{text-decoration: none;float: left;padding: 3px;list-style: none;display: block;
    background-color: chartreuse;margin: 5px;position: relative;clear: left;}
li:focus{border-left: 20px gold;border-right:20px blueviolet;background-color: blue;}
img#menu{height: 30px;width:30px;border-radius: 50%;}
h1{color:green;font-size: 60px;font-family: Arial, Helvetica, sans-serif;}
body{background-color: aqua;}
video{border: 10px green;}
input{border-radius: 10% 20%; box-shadow: 10px blue;width: 50em;height: 30px;}